<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travtusworks.adam" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name">

        <activity android:name=".AdamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialog"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>